body{
    background-color: rgb(250, 236, 236);
    color: rgb(0,0,0);
}

h1,h2,h3,h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family:'Times New Roman', Times, serif;
    color: black
}

code{
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}

h1{
    font-size: 35px;
}

h2{
    color: rgb(250,236,236);
}

h3{
    font-size: 30px;
}

h4{
    font-size: 25px;
}

table, th, td{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color:rgb(221, 211, 176) 
}

div{
    background-color: rgb(255, 255, 255);
    width: 40%;
}

div code{
    background-color: rgb(255, 255, 255);
}

.indent1{
    padding-left: 25px;
}

.indent2{
    padding-left: 50px;
}
